<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>👩🏻‍⚕️ helpmeout-caregiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>👵 helpmeout-patient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B320DF9A1FC4E4B800D430FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B320DFAE1FC4E4B800D430FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B320DFB91FC4E4B800D430FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B360D1FF1FC4EDC60091DE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
